@import url(http://fonts.googleapis.com/css?family=Raleway:300,600);

/* Bootstrap overrides */

.ft-ext-content textarea:hover,
.ft-ext-content textarea:active,
.ft-ext-content textarea:focus,
.ft-ext-content input[type=text]:hover,
.ft-ext-content input[type=text]:active,
.ft-ext-content input[type=text]:focus
{
    outline:0;
    -moz-appearance:none;
    -webkit-appearance:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.glyphicon {
  color: white;
}

/* ft-ext Styling */

body {
  background-color:transparent;
}

.ft-ext-background {
   background: url(../img/twinkle_twinkle_bg.png);
   background-position: center;
   background-repeat: repeat;
   position: fixed;
   bottom: 0;
   opacity: 0.86;
   width: 100%;
   height: 100%;
   z-index: 4999;
   padding: 0 20px 0 20px;
}

.ft-ext-container ::-webkit-scrollbar {
    display: none;
}

.ft-ext-container {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 5000;
   padding: 0 20px 0 20px;
   text-align: left;
   font-family: 'Raleway', Arial, serif !important;
   color: white;
}

.ft-ext-header {
}


.ft-ext-content {
  position: relative;
  overflow:auto;
  overflow-x: hidden;
  margin: 0;
  height:100%;
}

.ft-ext-name {
/*  display: inline-block;
  width: 6%;*/
}

.ft-ext-title {
  position: absolute;
  top: 11px;
  text-align: center;
}

.ft-ext-tags-container {
  border-bottom: 1px dotted white;
}
.ft-ext-text {
  background-color:transparent;
  color:white;
  border:0;
  padding: 6px 0px 6px 0px;
}

.ft-ext-tags {
  font-size: 21px;
  margin-top: -14px;
  padding-bottom: 0px;

}


/*
font-family: 'Raleway', Arial, serif; font-weight: 300;
font-family: 'Raleway', Arial, serif; font-weight: 600;
*/
